h1= title

div.row
  div.span4.well
    a(href="/courses/new").course-new.btn.large.primary Create your own Course
  div.span12
    table.courses-list
      - courses.forEach(function(course) {
        tr
          td
            a(href="/courses/#{course.permalink}").course-name= course.name
          td
            span.course-description= course.description
          td
            a(href="/courses/#{course.permalink}/edit") Edit
      - })
