h1= title

a(href="/courses/new").course-new Create your own Course

table.courses-list
  - courses.forEach(function(course) {
    tr
      td
        a(href="/courses/#{course.permalink}").course-name= course.name
      td
        span.course-description= course.description
      td
        a(href="/courses/#{course.permalink}/edit") Edit
        
  - })
