!!! 5
html(lang="en")
  head
    title iPull #{title} : working to decentralize and enrich the learning process
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    - if (everyauth.loggedIn)
      p
        | Hi #{user.name},
        a(href='/logout') Logout
    != body