h1.course-name= course.name

h2.course-summary= course.summary

p.buy $
  = course.price
  form(action="/learning/#{course.permalink}", id="participation-form", method="POST")
    input(type='submit', value='Learn!')

p.learners-to-go
  = course.learnersNeeded()
  | 
  | more learners needed!

p.time-left
  | Time left to join
  = course.timeToJoin()

p.course-description= course.description