!!! 5
//if lt IE 7
  <html class="no-js ie6 oldie" lang="en">
//if IE 7
  <html class="no-js ie7 oldie" lang="en">
//if IE 8
  <html class="no-js ie8 oldie" lang="en">
//[if gt IE 8]><!
html(class='no-js', lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title iPull #{title} : working to decentralize and enrich the learning process
    //-meta(name="description", content=description)
    //-meta(name="author", content=author)
    meta(name="viewport", content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/ipull.css")
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
  body.offwhite(style="padding:40px;")
    .container-fluid
      div.navbar
        div.navbar-inner
          div.container
            a(href='/').brand 
              | IPull
            ul.nav
              li
                a(href='/courses') Courses
              li
                a(href='/#') Help
              li
                a(href='/#') About
            ul.nav.pull-right
              - if (everyauth.loggedIn)
                li
                  a(href='/logout') Logout
              - else
                li
                  a(href='/').login-link 
                    i.icon-user.icon-white 
                    | Log In
            form.navbar-search.pull-right
              input(type='text', class='search-query', placeholder="Search")

      
    .container.inneroffwhite
      ul.breadcrumb
        li
          a(href='/') 
            i.icon-home
            | Home
            span.divider /
        li
          a(href='/courses') 
            | Courses
            span.divider /

      != body

    div.clear
    footer.container-fluid.modal-footer
      div.container
        .row
          .span3
            | ipull brought to you by...
            img(src='/img/brought_to_you_by.png')
          .span4
            img(src='/img/get_involved.png')
            ul.nav.nav-pills.footer-menu
              li
                a(href='/') Home
              li
                a(href='/') Courses
              li
                a(href='/') Help
              li
                a(href='/') About
          .span5
            | Get in touch
            img(src='/img/talk_to_us.png')
            br
            a(href='https://github.com/redsquirrel/ipull/blob/master/Readme.markdown')
              | Learn more about this project
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
    script
      window.jQuery ||  document.write('<script src="js/libs/jquery-1.6.3.min.js"><\\/script>')
    //if lt IE 7
    script(src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js', defer)
    script(defer) window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
