h1= title

- if (learners.length > 0)
  ul
    - learners.forEach(function(learner) {
      li
        learner-name= learner.name
        form(action="/courses/#{course.permalink}/awards")
          input(type="hidden", name="recipient", value=learner.username)
          input(type="submit", value="Award!")
    - })
