h1
  a(href='https://github.com/redsquirrel/ipull') working to decentralize and enrich the learning process

- if (everyauth.loggedIn)
  h2 Authenticated
  - if (everyauth.facebook)
    h3 Facebook User Data
    p= JSON.stringify(everyauth.facebook.user)
  - if (everyauth.twitter)
    h3 Twitter User Data
    p= JSON.stringify(everyauth.twitter.user)
  - if (everyauth.google)
    h3 Google User Data
    p= JSON.stringify(everyauth.google.user)
  h3
    a(href='/logout') Logout

- else
  h2 Not Authenticated
  #fb-login.fb_button(style='background-position: left -188px')
    a.fb_button_medium(href='/auth/facebook')
      span#fb_login_text.fb_button_text
        Connect with Facebook
  #twitter-login
    a(href='/auth/twitter', style='border: 0px')
      img(style='border: 0px', src='http://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_48_blue.png')
  #google-login
    a(href='/auth/google', style='border: 0px')
      img(style='border: 0px', src='https://www.google.com/favicon.ico')
