h2 Please tell us a bit more about yourself

form(action="/profile", id="profile-form", method="POST")
  label(for="profile-username") Username
  input(type="text", name="username", id="profile-username")
  input(type="submit")